# **Introduction**: <br>    
    My approach to the metric is to look at arrests and incident reports. You can't have a Spider-Man without people to save and crimes to stop. In order to do that I used two data sets. I looked at incident reports in the last 30 days and the number of arrests since 2016 and found the top 10 neighborhoods with the highest in both metrics. I was thinking about looking into the inverse with highest incidents lowest arrests but I found it was a very hard metric to find and since the incidents were last 30 days and arrests were last 7 years it would be almost impossible to find an accurate and definitive winner for this sub-metric.

In [16]:
import pandas as pd

incidents = pd.read_csv('Incidents.csv', sep=",")
data = {}

for index, row in incidents.iterrows():
    if row.INCIDENTNEIGHBORHOOD in data:
        data[row.INCIDENTNEIGHBORHOOD] = data[row.INCIDENTNEIGHBORHOOD] + 1
    else:
        data[row.INCIDENTNEIGHBORHOOD] = 0
neighborhoods = pd.DataFrame.from_dict(data, orient='index')
neighborhoods = neighborhoods.sort_values(0, ascending = False)
neighborhoods.head(10)

                             0
Central Business District  141
South Side Flats           113
Carrick                     50
Shadyside                   46
Squirrel Hill South         45
Mount Washington            45
Bluff                       42
Perry South                 35
Brookline                   34
Sheraden                    33

In [14]:
import pandas as pd

arrests = pd.read_csv('Arrests.csv', sep=",")
data = {}

for index, row in arrests.iterrows():
    if row.INCIDENTNEIGHBORHOOD in data:
        data[row.INCIDENTNEIGHBORHOOD] = data[row.INCIDENTNEIGHBORHOOD] + 1
    else:
        data[row.INCIDENTNEIGHBORHOOD] = 0
neighborhoods = pd.DataFrame.from_dict(data, orient='index')
neighborhoods = neighborhoods.sort_values(0, ascending = False)
neighborhoods.head(10)

                              0
Central Business District  4277
South Side Flats           3397
NaN                        2440
Carrick                    2310
East Allegheny             2160
Homewood South             2056
Homewood North             1935
East Liberty               1858
Marshall-Shadeland         1499
Bluff                      1465

In [ ]:
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

arrests.cumsum().plot()

# **Best Neighborhood**: <br>
    According to this metric, the "Best Neighborhood in Pittsburgh" to be Spider-Man is the Central Business District. Not only does it have the highest incident rate n the last 30 days, but it overwhelmingly has the most arrests since 2016. It has consistently been the lead in incident rate and arrests, so It is clear that the police could use some help dropping the crime rates down. With the help of a friendly neighborhood Spider-Man, the Central Business District will for sure be a better place.

# **Conclusion**:
    This