In [9]:
import pandas as pd

arrests = pd.read_csv('Arrests.csv', sep=",")
data = {}

for index, row in arrests.iterrows():
    if row.INCIDENTNEIGHBORHOOD in data:
        data[row.INCIDENTNEIGHBORHOOD] = data[row.INCIDENTNEIGHBORHOOD] + 1
    else:
        data[row.INCIDENTNEIGHBORHOOD] = 0
neighborhoods = pd.DataFrame.from_dict(data, orient='index')
neighborhoods = neighborhoods.sort_values(0, ascending = False)
neighborhoods.head(10)

                             0
Central Business District  141
South Side Flats           113
Carrick                     50
Shadyside                   46
Squirrel Hill South         45
Mount Washington            45
Bluff                       42
Perry South                 35
Brookline                   34
Sheraden                    33